.fotokahani
{
  text-align: center;
  font-family: Comic Sans MS;
  }
.description
{
  text-align: center;
  font-family: Comic sans ms;
}

.Founder
{text-align: center;}

body { background: #8BD0E6}

.Title
{ text-align: center;
  font-family: Comic Sans MS;
}

.values
{
  text-align: center;
  font-family: Comic Sans MS;
}
.valuesbullets
{
  margin-left: 25%;
  font-family: Comic Sans MS;
  list-style-postion: inside;
}

.subtitle
{
  text-align: center;
  font-family: Comic Sans MS;
  }

.paragraph1
{
   text-align: center;
  font-family: Comic Sans MS;
}

.contactinformation
{
  text-align: center;
  font-family: Comic Sans MS;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Pictures
{
  text-align: center;
  font-family: Comic Sans MS;
}

hr
{
border-color:black;
}
.hrcontainer
{
width:90%;
margin: 0 auto;

}

.hrcontainer1
{
width:30%;
margin: 0 auto;

}

.img
{
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.footer
{ background-color: #292c2f;
  box-shadow: 2px;
  padding: 5px;}
